a {
  text-decoration: none;
  color: #282c34 !important;
}

h2:hover{
  opacity: .8;
}

.App {
  text-align: center;
  background-color: #586F7C;
  min-height: 100vw;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bottom-button {
  margin-bottom: 100px;
}

.App-link {
  color: #61dafb;
}

.event-stuff {
  margin-top: 15px;
}

.login-box {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;

  padding: 15px;
  margin-top: 150px;
  background-color: teal;
  margin: auto;
}

.login-back {
  background-color: #586F7C;
  height: 100vh;
  margin: auto;
  margin-top: 10%;
}

.testing {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;

  padding: 15px;
  margin-top: 150px;
  background-color: #586F7C;
  margin: auto;
}



.group-card {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    margin: 5px auto;
    background-color: #BFD7EA;
    border-radius: 20px;
    margin-bottom: 15px;
}

.group-back {
  background-color: teal;
  margin: auto;
  padding-top: 30px;
}

.event-card {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    border-radius: 10px;
    margin: auto;
    background-color: #3d4d57;
    color: white;
}

.event-card {
  border-style: hidden;
  padding: 1px;
  padding-bottom: 5px;
}

.event-button {
  padding: 1px;
  margin-top: -15px;
  border-style: hidden;
}

.Button {
  width: 55px;
  margin: auto;
}

.login {
  padding: 15px;
}

.login-form {
  color: white;
  margin-top: 15%;
  padding-bottom: 100px;
}

.login-form h1 {
  padding-bottom: 15px;
}

.testing {
  margin-top: 75px;
  background-color: #BFD7EA;
  border-radius: 30px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.event-top {
  background-color:whitesmoke;
  margin: auto;
  color: #343A40;
  padding-top: 30px;
}

.Button {
  opacity: .8;
}

.Button:hover {
  opacity: 1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: rgb(142, 194, 264);
  text-align: left;
  height: 30px;
}

.container{
  margin: 0vw;
}

.spacer{
  height: 72px;
}

.card-body{
  background-color: whitesmoke;
  border-radius: 20px;
}

button{
  background-color: #343A40 !important;
  border-color:#343A40 !important;
}

button:focus {
  outline: 0 !important;
}

/* .no-stretch {
  flex: 0 0 1 !important;
} */

.createGroupButton{
  margin-top: 7px;
}